.App {
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper {
  max-width: 500px;
}

.first {
  /* color: red; */
}

.second {
  /* color: blue; */
  /* margin-top: 10rem; */
}
.third {
  /* color: green; */
  /* margin-top: 20rem; */
}

h1 {
  font-size: 2rem;
}
